*{
	margin: 0px; padding: 0px;
}
body{
	background-color: #ddd;
}
.header{
	float: left;
	width: 100%;
	height: 45px;
	background-color: #5F9EA0;
}
.header .judul{
	width: 260px;
	height: 45px;
	background-color: #5ea4a5;
}
.header .judul h1{
	font-family: segoe ui;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	margin-top: 2px;
	color: #fff;
}
.sidebar{
	float: left;
	width: 260px;
	height: 700px;
	background-color: #222d32;
}
.sidebar .menu{
	width: 260px;
}
.sidebar .menu ul{
	float: left;
	width: 260px;
	list-style: none;
}
.sidebar .menu ul li{
	padding: 10px;
}
.sidebar .menu ul li a{
	color: #fff;
	font-family: segoe ui;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
}
.sidebar .menu ul li a:hover{
	background-color: #2c3b41;
	transition-duration: 1.5s;
}
.content{
	float: left;
	width: 1082px;
	height: auto;
}
.content .judul-content{
	float: left;
	width: 1060px;
	height: 50px;
	background-color: #fff;
	margin: 10px 16px;
	border-radius:5px;
	border-top:3px solid #5F9EA0;
	border-bottom: 3px solid #5F9EA0;
}
.content .judul-content h1{
	font-family: segoe ui;
	font-size: 25px;
	margin: 5px 20px;
	background-color: #fff;
	color: #333;
	padding: 4px;
	border-radius: 5px;
}
.content .isi-content{
	float: left;
	width: 1060px;
	height: auto;
	background-color: #fff;
	margin: 5px 16px;
	border-radius:5px;
	color: #fff;
	border-top: 3px solid #5F9EA0;
	border-bottom: 3px solid #5F9EA0;
}
.content .judul-home{
	height: 500px;
}
.content .judul-home h1{
	font-family: segoe ui;
	padding: 10px;
	color: #333;
}
.isi-content .link-tambah{
	text-decoration: none;
	color: #fff;
	padding: 10px;
	background-color: #5F9EA0;
	font-family: segoe ui;
	margin: 20px 20px;
	float: left;
}
.isi-content form{
	margin: 50px 20px;
}
.isi-content form label{
	color: #333;
	font-family: segoe ui;
}
.isi-content form .tabel2{
	margin-top: 10px;
}
.isi-content form .text{
	width: 100%;
	padding: 10px;
	border:1px solid #bcbcbc;
	border-radius: 2px;
	font-family: segoe ui;
}
.isi-content form .texx{
	width: 90%;
	padding: 10px;
	border:1px solid #bcbcbc;
	border-radius: 2px;
	font-family: segoe ui;
	font-size: 14px;
}
.isi-content form .simpan{
	color: #fff;
	padding: 10px;
	background-color: #5F9EA0;
	border-radius: 2px;
	border:0px;
	cursor: pointer;
	margin-left: 10px;
}
.isi-content form .batal{
	color: #fff;
	padding: 15px;
	background-color: #5F9EA0;
	border-radius: 2px;
	border:0px;
	cursor: pointer;
	font-size: 16px;
	font-family: segoe ui;
	margin: 10px;
}
.isi-content form .simpan:hover{
	cursor: pointer;
	background-color: #5F9EA0;
}
.isi-content form .batal:hover{
	cursor: pointer;
	background-color: #5F9EA0;
}
.isi-content form .btn:hover{
	cursor: pointer;
	background-color: #5F9EA0;
}
.isi-content .tabel1 .btn-hijau{
	padding: 8px 10px;
	color: #fff;
	cursor: pointer;
	font-family: 'tahoma';
	font-size: 16px;
	text-decoration: none;
	border-radius: 2px;
	padding: 10px;
	border:0px;
	cursor: pointer;
	margin-left: 10px;
	text-decoration: none;
	background-color: #43bc6c;
}
.isi-content .tabel1 .btn-merah{
	padding: 8px 10px;
	color: #fff;
	cursor: pointer;
	font-family: 'tahoma';
	font-size: 16px;
	text-decoration: none;
	border-radius: 2px;
	padding: 10px;
	border:2px;
	cursor: pointer;
	margin-left: 10px;
	text-decoration: none;
	background-color: #e74c3c;
}
.btn-biru{
	background-color: #63a1ed;
}
.btn-oren{
	background-color: #fcac4b;
}
.btn-disable{
	background-color: #bfbfbf;
}
/*tabel*/
.tabel{
	width: 96%;
	border-collapse: collapse;
	margin: 50px 20px;
	border-color: #5F9EA0;
}
.tabel tr th{
	padding: 10px;
	color: #fff;
	font-family:segoe ui;
	background-color: #222d32;
}
.tabel tr td{
	padding: 10px;
	color: #333;
	font-family: segoe ui;
	text-align: center;
}
.isi-content a .gbr{
	width: 37px;
	height: 35px;
}